:root {
  --dot-color: red;
  --dot-size: 26px;
  --grid-gap: 60px;
  --left-column-width: 240px;
  --vertical-line-color: white;
}

.timeline {
  list-style: none;
  padding: 0px;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
}


/* THIN (DEFAULT) CSS */
.timeline-item:before {
  background: var(--dot-color);
  border-radius: 100%;
  content: "";
  height: var(--dot-size);
  left: calc((20px - var(--dot-size)) / 2);
  position: absolute;
  width: var(--dot-size);
}

.timeline-item:after {
  background: var(--vertical-line-color);
  bottom: -12px;
  content: "";
  left: 8px;
  position: absolute;
  top: 40px;
  width: 3px;
}

.timeline-date {
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline-period:before,
.timeline-period:after {
  background: var(--vertical-line-color);
  content: "";
  height: 25px;
  left: 6px;
  position: absolute;
  width: 3px;
}

.timeline-period:before {
  top: -25px;
}

.timeline-period:after {
  bottom: -25px;
}

.timeline-period {
  border-bottom: 3px solid var(--vertical-line-color);
  border-top: 3px solid var(--vertical-line-color);
  left: 2px;
  margin-bottom: 40px;
  padding: 10px 0px;
  position: relative;
  top: 10px;
  width: 15px;
}

.timeline-period h2 {
  padding-left: 10px;
  white-space: nowrap;
}

/* MEDIUM SCREENS */
@media (min-width: 769px) {
  .timeline-item {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: var(--left-column-width) auto;
    grid-template-rows: auto;
    padding: 0px;
  }

  .timeline-item:before {
    left: calc(var(--grid-gap) / 2 + var(--left-column-width) + ((20px - var(--dot-size)) / 2) - 8px);
  }

  .timeline-item:after {
    bottom: 12px;
    left: calc(var(--grid-gap) / 2 + var(--left-column-width));
  }

  .timeline-date {
    text-align: right;
  }

  .timeline-content h3 {
    display: inline;
  }

  .timeline-period {
    left: calc(var(--grid-gap) / 2 + var(--left-column-width) - 6px);
  }
}

/* WIDE SCREENS */
@media (min-width: 1025px) {}
