:root {
  --element-border: 7px;
  --border-radius: 10px;
}

h1 {
  font: 700 64px "Fira Sans", sans-serif;
  margin-bottom: 0px;
  margin-top: 100px;
  text-align: center;
}

h5 {
  font: 500 32px "Fira Sans", sans-serif;
  margin: 10px 0 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

.periodic-table {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(3, 140px);
  justify-content: center;
  margin: auto;
}

.periodic-element-image {
  border: var(--element-border) solid #fff;
  height: calc(100% - 14px);
  position: relative;
  transition: all 0.5s ease;
  width: calc(100% - 14px);
  z-index: 2;
}
.periodic-element-image:hover {
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  transform: scale(1.6);
  z-index: 10;
}

.periodic-element {
  cursor: default;
  padding: var(--element-border);
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
}
.periodic-element .periodic-element-inner {
  background: var(--main-bg-color);
  height: calc(100% - 40px);
  padding: 20px 10px;
  transition: inherit;
  width: calc(100% - 20px);
}
.periodic-element .title {
  font: 700 60px "Fira Mono", sans-serif;
  text-align: center;
}
.periodic-element .description {
  font: 500 16px "Fira Sans", sans-serif;
  margin-top: 4px;
  text-align: center;
}
a.periodic-element {
  cursor: pointer;
}

.periodic-element:after {
  background: var(--main-text-color);
  border-radius: var(--border-radius);
  color: var(--main-bg-color);
  content: attr(data-description);
  font-size: 24px;
  height: auto;
  line-height: 1.2;
  margin: 0 0 0 -80px;
  opacity: 0;
  padding: 20px 20px;
  position: absolute;
  text-align: center;
  top: 90%;
  transition: opacity 0.2s ease 0.2s, top 0.2s ease 0.2s;
  width: 240px;
  z-index: 10;
}

.periodic-element:hover {
  transform: scale(1.10);
  z-index: 10;
}
.periodic-element:hover .periodic-element-inner {
  background: transparent;
}
.periodic-element:hover .title,
.periodic-element:hover .description {
  -webkit-text-fill-color: black;
}
.periodic-element:hover:after {
  opacity: 1;
  top: 103%;
}

.social-media {
  background: linear-gradient(to bottom right, #ff616d 0%, #ffc171 100%);
}
.social-media .title,
.social-media .description {
  background: -webkit-linear-gradient(#ff616d, #ffc171);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-info {
  background: linear-gradient(to bottom right, #37cfdc 0%, #5a88e5 100%);
}
.personal-info .title,
.personal-info .description {
  background: -webkit-linear-gradient(#37cfdc, #5a88e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.software-projects {
  background: linear-gradient(to bottom right, #58ac30 0%, #a7df62 100%);
}
.software-projects .title,
.software-projects .description {
  background: -webkit-linear-gradient(#58ac30, #a7df62);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.legend-table {
  font-size: 24px;
  margin: 20px auto 0;
  padding: 15px;
  text-align: center;
}
.legend-table-marker {
  display: inline-block;
  height: 40px;
  margin: 5px 2px 10px 20px;
  vertical-align: middle;
  width: 40px;
}
.legend-table-text {
  background: var(--main-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  margin: 0 20px 5px 2px;
  -webkit-text-fill-color: transparent;
  vertical-align: middle;
}

.empty-spacer-1 {
  grid-column: 4;
  grid-row: 1;
}
.empty-spacer-2 {
  grid-column: 1;
  grid-row: 3;
}
