h1 {
  font: 700 3em "Fira Sans", sans-serif;
  margin-bottom: 0;
  margin-top: 1em;
  text-align: center;
}

h5 {
  font: 500 2em "Fira Sans", sans-serif;
  margin-bottom: 1em;
  margin-top: 0.25em;
  text-align: center;
}

a {
  text-decoration: none;
}

.periodic-table {
  --animation-time: 0.5s;
  --border-radius: 0.5em;
  --element-border: 0.33em;
  --element-size: 8em;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(5, var(--element-size));
  grid-template-rows: repeat(3, var(--element-size));
  justify-content: center;
  margin: auto;
}

.empty-spacer:nth-of-type(1) {
  grid-column: 4;
  grid-row: 1;
}
.empty-spacer:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}

.periodic-element-image {
  border: var(--element-border) solid #fff;
  height: calc(100% - var(--element-border) * 2);
  transition: all var(--animation-time) ease;
  width: calc(100% - var(--element-border) * 2);
  z-index: 2;
}
.periodic-element-image:hover {
  border: 0.1em solid #fff;
  border-radius: var(--border-radius);
  transform: scale(1.6);
  z-index: 10;
}

.periodic-element {
  padding: var(--element-border);
  position: relative;
  transition: all var(--animation-time) ease;
  z-index: 1;
}
.periodic-element .periodic-element-inner {
  --vertical-padding: 1em;

  background: var(--main-bg-color);
  height: calc(100% - var(--vertical-padding) * 2);
  padding: var(--vertical-padding) 0;
  transition: inherit;
  width: calc(100%);
}
.periodic-element .title {
  font: 700 4em "Fira Mono", sans-serif;
  text-align: center;
}
.periodic-element .description {
  font: 500 1em "Fira Sans", sans-serif;
  margin-top: 0.2em;
  text-align: center;
}

.periodic-element:hover {
  transform: scale(1.10);
  z-index: 10;
}
.periodic-element:hover .periodic-element-inner {
  background: transparent;
}
.periodic-element:hover .title,
.periodic-element:hover .description {
  -webkit-text-fill-color: var(--main-bg-color);
}

.periodic-element:after {
  --delay-time: 0.1s;
  --description: 1em;
  --horizontal-padding: 1em;
  --width: 10em;

  background: var(--main-text-color);
  border-radius: var(--border-radius);
  color: var(--main-bg-color);
  content: attr(data-description);
  font-size: var(--description);
  height: auto;
  left: calc(((var(--element-size) - var(--width)) / 2)
             - var(--horizontal-padding));
  opacity: 0;
  padding: 0.5em var(--horizontal-padding);
  position: absolute;
  text-align: center;
  top: 75%;
  transition: opacity var(--animation-time)
                      ease
                      var(--delay-time),
              top var(--animation-time)
                  cubic-bezier(0.25, 0.75, 0.5, 1.5)
                  var(--delay-time);
  width: var(--width);
  z-index: 10;
}
.periodic-element:hover:after {
  opacity: 1;
  top: 101%;
}

.social-media {
  --start-color: #ff616d;
  --end-color: #ffc171;
}
.personal-info {
  --start-color: #37cfdc;
  --end-color: #5a88e5;
}
.software-projects {
  --start-color: #58ac30;
  --end-color: #a7df62;
}

.social-media,
.personal-info,
.software-projects {
  background: linear-gradient(to bottom right,
                              var(--start-color) 0%,
                              var(--end-color) 100%);
}
.social-media .title,
.social-media .description,
.personal-info .title,
.personal-info .description,
.software-projects .title,
.software-projects .description {
  background: -webkit-linear-gradient(var(--start-color), var(--end-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.legend {
  display: inline-flex;
  font-size: 1.5em;
  justify-content: center;
  margin: 1em auto 0;
  text-align: center;
  width: 100%;
}
.legend-element {
  margin: 0 0.75em;
}
.legend-marker {
  --marker-size: 1.5em;

  display: inline-block;
  height: var(--marker-size);
  vertical-align: middle;
  width: var(--marker-size);
}
.legend-text {
  vertical-align: middle;
}
