:root {
  --main-bg-color: #111;
  --main-text-color: #eee;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Fira Sans", sans-serif;
}

.info,
.info:visited,
.home,
.home:visited {
  color: var(--main-text-color);
  margin: 0.5em;
  position: absolute;
  text-decoration: none;
  top: 0;
}
.info {
  left: 0;
}
.home {
  right: 0;
}

@media (pointer: fine) {
  .info,
  .info:visited,
  .home,
  .home:visited {
    font-size: 2.5em;
  }
}
@media (pointer: coarse) {
  .info,
  .info:visited,
  .home,
  .home:visited {
    font-size: 4em;
  }
}
