body {
  --dark-bg-color: #111;
  --dark-text-color: #EEE;
  --light-bg-color: #EEE;
  --light-text-color: #111;

  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 1em;
  text-align: center;
}

.header-icon,
.header-icon:visited {
  color: var(--main-text-color);
  margin: 0.5em;
  position: absolute;
  text-decoration: none;
}
.codepen {
  left: 0;
  top: 0;
}
.home {
  right: 0;
  top: 0;
}

@media (pointer: fine) {
  .header-icon {
    font-size: 2.5em;
  }
  #time + label {
    --width: 3em;
    right: 5em;
    transition: all 0.5s ease;
  }
}
@media (pointer: coarse) {
  .header-icon {
    font-size: 4em;
  }
  #time + label {
    --width: 5em;
    right: 8em;
  }
}

#time {
  height: 0;
  opacity: 0;
  width: 0;
}

#time + label {
  --checked: 0;

  background: hsl(200, 100%, calc((1 - var(--checked))*50%));
  border-radius: calc(var(--width) * 1.75 / 6);
  color: transparent;
  cursor: pointer;
  display: grid;
  grid-gap: calc(var(--width) / 12) calc(var(--width) / 24);
  height: calc(var(--width) * 2.5 / 6);
  overflow: hidden;
  padding: calc(var(--width) / 12);
  position: absolute;
  top: calc(var(--width) / 2);
  user-select: none;
  -webkit-user-select: none;
  width: var(--width);
}
#time + label:before, #time + label:after {
  border-radius: 100%;
  content: "";
  height: calc(var(--width) * 2.5 / 6);
  position: relative;
  transition: inherit;
  width: calc(var(--width) * 2.5 / 6);
}
#time + label:before { /* sun */
  background: #F9D71C;
  opacity: calc(1 - var(--checked));
  top: calc(var(--checked) * (10% + calc(var(--width) / 12)));
}
#time + label:after { /* moon */
  background: radial-gradient(circle at 25% 25%, transparent 50%, #fff 50%);
  grid-column: 2;
  opacity: var(--checked);
  top: calc(-75% - calc(var(--width) / 12) - (var(--checked) * 25%));
}
#time:checked + label {
  --checked: 1;
}
