:root {
  --main-bg-color: #111;
  --main-text-color: #eee;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Fira Sans", sans-serif;
}

.header-icon,
.header-icon:visited {
  color: var(--main-text-color);
  margin: 0.5em;
  position: absolute;
  text-decoration: none;
}
.codepen {
  left: 0;
  top: 0;
}
.home {
  right: 0;
  top: 0;
}
.github {
  left: 0;
  top: 1.5em;
}

@media (pointer: fine) {
  .header-icon {
    font-size: 2.5em;
  }
}
@media (pointer: coarse) {
  .header-icon {
    font-size: 4em;
  }
}
