body.light {
  --bg-color: #C2E8E8;
  --rad-color: #D0EDED;
  --primary-color: pink;
  --secondary-color: yellow;
}
body.dark {
  --bg-color: #2d3636;
  --rad-color: #353d3d;
  --primary-color: rebeccapurple;
  --secondary-color: darkslategrey;
}
body {
  --bg-size: 20px;
  --bg-position: calc(var(--bg-size) / 2);
  --rad-percent: 30%;

  background-color: var(--bg-color);
  background-image:
    radial-gradient(var(--rad-color) var(--rad-percent), transparent 0%),
    radial-gradient(var(--rad-color) var(--rad-percent), transparent 0%);
  background-position: 0 0, var(--bg-position) var(--bg-position);
  background-size: var(--bg-size) var(--bg-size);
  text-align: center;
}

h1 {
  font-family: "Fira Mono", monospace;
  font-size: 5em;
  margin: 0;
}
h1 span {
  --rotation: 3deg;
  display: inline-block;
  margin: 0 -0.3em;
  padding: 0.15em;
}
h1 span:nth-of-type(odd) {
  background: var(--primary-color);
  transform: rotate(calc(var(--rotation) * -1));
}
h1 span:nth-of-type(even) {
  background: var(--secondary-color);
  transform: rotate(var(--rotation));
}

h2 {
  font-family: "Satisfy", cursive;
  font-size: 4em;
  margin: 0.1em 0;
}

h3 {
  font-family: "Sriracha", cursive;
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5em;
  text-decoration: underline;
  margin: 0;
}

p {
  font-size: 2em;
  margin: 0;
}

.menu {
  background-color: var(--primary-color);
  display: grid;
  margin: 2em auto;
  padding: 1em;
  position: relative;
  row-gap: 1em;
  width: 32em;
}
.menu::before {
  background-color: var(--secondary-color);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 2em;
  transform: rotate(-3deg);
  z-index: -1;
}

.item {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

/* WIDE SCREENS */
@media only screen and (min-width: 1024px) {
  .menu {
    row-gap: 2em;
    width: 60em;
  }
  .menu::before {
    transform: rotate(-6deg);
  }

  .course {
    column-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .course h3 {
    grid-column: 1 / span 2;
  }
}
