body {
  background-color: paleturquoise;
  background-image: radial-gradient(honeydew 30%, transparent 30%),
                    radial-gradient(honeydew 30%, transparent 30%);
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}

h1 {
  font-family: 'Fira Mono', monospace;
  font-size: 4em;
  margin: 0;
}

h1 span {
  --rotation: 3deg;
  display: inline-block;
  padding: 0.15em;
  margin: 0 -0.3em;
}

h1 span:nth-of-type(odd) {
  transform: rotate(calc(var(--rotation) * -1));
  background: pink;
}
h1 span:nth-of-type(even) {
  transform: rotate(var(--rotation));
  background: yellow;
}

h2 {
  text-align: center;
}
