body {
  --bg-size: 20px;
  --bg-position: calc(var(--bg-size) / 2);
  --rad-color: #D0EDED;
  --rad-percent: 30%;

  background-color: #C2E8E8;
  background-image:
    radial-gradient(var(--rad-color) var(--rad-percent), transparent 0%),
    radial-gradient(var(--rad-color) var(--rad-percent), transparent 0%);
  background-position: 0 0, var(--bg-position) var(--bg-position);
  background-size: var(--bg-size) var(--bg-size);
  text-align: center;
}

h1 {
  font-family: 'Fira Mono', monospace;
  font-size: 4em;
  margin: 0;
}

h1 span {
  --rotation: 3deg;
  display: inline-block;
  margin: 0 -0.3em;
  padding: 0.15em;
}

h1 span:nth-of-type(odd) {
  background: pink;
  transform: rotate(calc(var(--rotation) * -1));
}
h1 span:nth-of-type(even) {
  background: yellow;
  transform: rotate(var(--rotation));
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 2.5em;
  margin-bottom: 0.1em;
  margin-top: 0.5em;
}

h3 {
  font-size: 2em;
  margin: 0;
}

.menu {
  background-color: pink;
  margin: 2em auto;
  padding: 2em;
  text-transform: uppercase;
  width: 24em;
}

/* WIDE SCREENS */
@media only screen and (min-width: 1024px) {
  .menu {
    width: 40em;
  }

  .course {
    display: grid;
    grid-template-areas:
      "header header"
      "item item";
    grid-template-columns: 50% 50%;
  }


  .course h3 {
    grid-area: header;
  }
}
